.azeret-mono{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;

}
*{
    margin: 0;
    padding: 0;
}
/* Shared style */
.color1{
    color: #0D1321;
}
.common-title{
    font-size: 32px;
    color: #0D1321;
    padding: 20px;
}
.common-des{
    font-size: 16px;
    color: #0D1321;
    padding: 10px;
}
.common-btn{
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 10px;
}

/* ================================================ */
/* Navbar style */
header{
    margin-bottom: 50px;
}
.logo h3{
    font-size: 28px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.resume-btn{
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 500;
    color: #0D1321;
    font-size: 20px;
}
.banner-container{
    width: 100%;
    height: 70vh;
    background-image: url("./assets/Hero-bg.png");
}
.banner-content{
    text-align: center;
    padding: 20px;
}
.banner-content img{
    width: 200px;
}
.banner-content h2{
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}
.banner-content button{
    font-size: 20px;
    padding: 20px;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
}
/* Why Web Development?? section */
main{
    width: 79%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    margin-top: 80px;
    background-color: #f3f4f4;
    border-radius: 16px;

}
.development{
    margin-top: 50px;
}
.box1{
    display: flex;
    justify-content: space-around;
    align-items: flex-center;
    background-color: white;
    padding: 20px;
    
}
.box1-left h3{
    font-size: 24px;
    padding: 10px;
}
p.common-des.box {
    margin-left: -111px;
    font-size: 18px;
}
button.common-btn.box {
    margin-left: -266px;
}
.box2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box1-right.bx {
    text-align: right;
    margin-right: -522px;
}
/* My Current Target style */
.allbox{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-around;
}
.common-box{
    padding: 30px;
    margin-top: 40px;
    text-align: justify;
    height: 300px;
    /* border: 1px solid red; */
}
.pad{
    padding: 10px;
}
.deco{
    text-decoration: none;
    font-size: 18px;
}
.allbox img h4 a{
    padding: 20px;
}
.html-box{
    background-color: #fff6f4;
}
.css-box{
    background-color: #f2f6fe;
}
.java-box{
    background-color: #fffdf2;
}
/* Footer style */
footer{
    display: flex;
    justify-content: space-around;
    padding:40px;
    justify-items: flex-start;
    background-color: #f8f8f8;
}